body {
  background-color: #323232;
  font-family: 'Open Sans', sans-serif;
  
  height: 100vh;
  margin: 0;
  color: white;
}

h1 {
  text-align: center;
}

#content{
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  border: none;
}

td {
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  border: none;
}

/* Horizontale Linien */
tr:not(:last-child) td {
  border-bottom: 5px solid white;
}

/* Vertikale Linien */
td:not(:last-child) {
  border-right: 5px solid white;
}